*{
    box-sizing: border-box;
    margin:0;
    padding: 0;

}
body{
    font-family: sans-serif;
    background-image: url(../img/netflix-bg.jpg);
    color: white;
}
.header{
    width: 100%;
    padding-top:20px;
    padding-left: 40px ;
    margin-bottom: 30px
    ;
}
.content{
    width:400px;
    height:600px;
    margin:auto;
    background-color: black;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 70px;
    opacity:88%;
    margin-bottom:60px ;
}
.sign-in{
    margin-bottom: 30px;
}
.input-1 input{
    width:100%;
    padding: 12px;
    border: none;
    background-color:rgb(44, 43, 43);
    border-radius: 5px;
    margin-bottom:12px ;
    font-size: 17px;
 }
 .input-2 input{
    width:100%;
    padding: 12px;
    border: none;
    background-color:rgb(44, 43, 43);
    border-radius: 5px;
    margin-bottom:12px ;
    font-size: 17px;
 }
 .button-1 button{
     width:100%;
     padding: 12px;
     border: none;
     border-radius: 5px;;
     background-color: #e50914;
     color: white ;
     margin-bottom:12px ;
     font-size: 17px;

 }
 .checkbox-1 {
     font-size: 13px;
     color: #b3b3b3;
     margin-bottom: 70px;
}
.checkbox-1 a{
    text-decoration: none;
    float: right;
    color: #b3b3b3 ;
}
.new{
   
     color: #b3b3b3;
     margin-bottom: 70px;
}
.new a{
    text-decoration: none;
    color: white;
}
.footer{
    display: flex;
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 20px;
    padding-bottom: 40px;
    background-color: black;
    opacity:88%;
}

.footer  a {
    text-decoration: none;
      color: #b3b3b3;
      margin-bottom: 20px;
      font-size: 13px;
      display: block;

}